body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }

    body {
        font-family: Roboto;
        font-size: 12px;
        color: #424242;
    }

    h1, h2, h3, h4, h5 {
        margin: 0;
    }

    .nounderline {
        text-decoration: none;
    }

    /* header */
    .header {
        background-color: rgb(255, 216, 144);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 8px;
    }

    .title {
        font-size: 20px;
        font-weight: lighter;
        color: #1976c7;
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    .status {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        color: #1976c7;
    }

    .status-item {
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: center;
        font-size: 15px;
        font-weight: bolder;
    }

    .stars {
        color: white;
    }

    /* game */
    .checked {
        color: #1976c7;
    }

    .gamegrid {
        background-color: orange;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 8px;
    }

    .cards {
        background-color: #424242;
        color: #d15555;
        font-size: 30px;
        font-weight: bolder;
        height: 125px;
        width: 20%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* modal pop-up */
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }

    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }

    .close-button:hover {
        background-color: darkgray;
    }

    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    .play-again {
        color: red;
        flex-direction: column;
        font-weight: bolder;
        font-size: 200%;
    }

    /* rwd */
    @media screen and (max-width: 500px) {
        .cards {
            height: 50px;
        }
        .status-item {
            width: 25%;
        }
        .time {
            width: 40%;
        }
        .modal-content {
            width: 12rem;
        }
    }